.relative {
    position: relative;
}
.layout img {
    width: 100%;
}
.title {
    color: hsl(0, 100%, 100%);
    font-size: 50px;
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave', cursive;   
}
.someText {
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;
    font-weight: 100;
    font-size: 14px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 28px;
}
.someBigText {
    color:rgba(221, 221, 221, 1);
    font-family: 'Sedgwick Ave', cursive;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 34px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
}
.form label {
    color: #4d4d4d;
    font-size: 12px;
    margin-bottom: 12px;
}
.form input {
    margin-bottom: 25px;
    height: 60px;
    background-color: #121214;
    border: 1px solid #4d4d4d;
    color: #a3a3a3;
    padding: 20px;
    font-size: 12px;
    font-weight: 700;
}
.form input:focus {
    transition: 0.7s;
    outline: none;
    background-color: hsl(344, 45%, 94%);
    color: #121214;
}
.form textarea {
    margin-bottom: 25px;
    background-color: #121214;
    border: 1px solid #4d4d4d;
    color: #a3a3a3;
    padding: 20px;
    font-size: 12px;
    font-weight: 700;
}
.form textarea:focus {
    transition: 0.7s;
    outline: none;
    background-color: hsl(344, 45%, 94%);
    color: #121214;
}
.button {
    width: 150px;
    height: 50px;
    color: rgba(255, 255, 255, 1);
    background-color: hsl(250, 76%, 52%);
    border: none;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-family: 'Sedgwick Ave', cursive;
    margin-bottom: 25px;
}
.button:hover {
    transition: 0.7s;
    transform: translate(0, -4px);
    background-color:hsl(250, 68%, 56%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.096) 0px 0px 0px 1px inset;
}

@media screen and (max-width: 420px) {
    .title {
        width: 100%;
        color: hsl(0, 100%, 100%);
        font-size: 40px;
        position: absolute;    
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        font-family: 'Sedgwick Ave', cursive;   
    }
    .someText {
        width: 100%;
        padding: 20px;
    }
    .someBigText {
        padding: 20px;
    }
    .form {
        width: 100%;
        padding: 20px;
    }
    .button {
        font-size: 15px;
        margin-top: 70px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        height: 70px;
        margin-bottom: 0px;
    }
}