.relative {
    position: relative;
}
.titleImg {
    width: 100%;
}
.title {
    color: hsl(0, 100%, 100%);
    font-size: 50px;
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sedgwick Ave', cursive;   
}
.someText {
    margin-top: calc(40px * var(--app-scale));;;
    margin-bottom: calc(40px * var(--app-scale));;;
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;
    font-weight: 100;
    font-size: calc(14px * var(--app-scale));;
    width: calc(600px * var(--app-scale));;
    margin-left: auto;
    margin-right: auto;
    line-height: 28px;
}
.someBigText {
    color:rgba(221, 221, 221, 1);
    font-family: 'Sedgwick Ave', cursive;
    width: calc(600px * var(--app-scale));;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(34px * var(--app-scale));;
}
.form {
    display: flex;
    flex-direction: column;
    width: calc(600px * var(--app-scale));;
    margin: 0 auto;
}
.form label {
    color: #4d4d4d;
    font-size: calc(12px * var(--app-scale));;
    margin-bottom: calc(12px * var(--app-scale));;
}
.form input {
    margin-bottom: calc(25px * var(--app-scale));;;
    height: calc(60px * var(--app-scale));
    background-color: #121214;
    border: 1px solid #4d4d4d;
    color: #a3a3a3;
    padding: calc(20px * var(--app-scale));
    font-size: calc(12px * var(--app-scale));;
    font-weight: 700;
}
.form input:focus {
    transition: 0.7s;
    outline: none;
    background-color: hsl(344, 45%, 94%);
    color: #121214;
}
.form textarea {
    margin-bottom: calc(25px * var(--app-scale));;;
    background-color: #121214;
    border: 1px solid #4d4d4d;
    color: #a3a3a3;
    padding: calc(20px * var(--app-scale));
    font-size: calc(12px * var(--app-scale));;
    font-weight: 700;
}
.form textarea:focus {
    transition: 0.7s;
    outline: none;
    background-color: hsl(344, 45%, 94%);
    color: #121214;
}
.button {
    width: calc(150px * var(--app-scale));
    height: calc(50px * var(--app-scale));
    color: rgba(255, 255, 255, 1);
    background-color: hsl(250, 76%, 52%);
    border: none;
    cursor: pointer;
    font-size: calc(13px * var(--app-scale));
    letter-spacing: 0.5px;
    font-family: 'Sedgwick Ave', cursive;
    margin-bottom: calc(25px * var(--app-scale));;;
}
.button:hover {
    transition: 0.7s;
    transform: translate(0, -2px);
    background-color:hsl(250, 68%, 56%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.096) 0px 0px 0px 1px inset;
}

@media screen and (max-width: 1000px) {
    .relative img {
        width: 100%;
    }
    .title {
        width: 100%;
        color: hsl(0, 100%, 100%);
        font-size: calc(40px * var(--app-scale));
        position: absolute;    
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        font-family: 'Sedgwick Ave', cursive;   
    }
    .someText {
        width: 100%;
        padding: calc(20px * var(--app-scale));
    }
    .someBigText {
        padding: calc(20px * var(--app-scale));
        width: unset;
    }
    .form {
        width: 100%;
        padding: calc(20px * var(--app-scale));
    }
    .button {
        font-size: calc(15px * var(--app-scale));
        margin-top: calc(70px * var(--app-scale));
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        height: calc(70px * var(--app-scale));
        margin-bottom: 0px;
    }
}