@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
.layout {
    width: calc(100% - calc(250px * var(--app-scale)));
    position: relative; 
    left: calc(250px * var(--app-scale));
    background-color: #121214;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .layout {
        width: 100%;
        max-width: 1000px;
        min-height: 100vh;
        position: inherit;
        left: 0;
        background-color: #121214;
    }
}