.gridLayout {
    display: grid;
    grid-gap: calc(10px * var(--app-scale));
    grid-template-columns: repeat(2, 1fr);
}
.gridLayout div {
    height: 100%;
}
.gridLayout img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gridLayout .title {
    color:rgba(221, 221, 221, 1);
    font-family: 'Sedgwick Ave', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(50px * var(--app-scale));;
}
.gridLayout1 {
    display: grid;
    grid-gap: calc(15px * var(--app-scale));
    grid-template-columns: repeat(3, 1fr);
}
.gridLayout1 div {
    height: 100%;
}

.gridLayout1 img {
    width: 100%;
    height: 100%;
}
.someText {
    margin-top: calc(40px * var(--app-scale));
    margin-bottom: calc(40px * var(--app-scale));
    color: rgba(255, 255, 255, 1);
    opacity: 0.8;
    font-weight: 100;
    font-size: calc(14px * var(--app-scale));;
    width: calc(600px * var(--app-scale));;
    margin-left: auto;
    margin-right: auto;
    line-height: calc(28px * var(--app-scale));
}
.someBigText {
    color:rgba(221, 221, 221, 1);
    font-family: 'Sedgwick Ave', cursive;
    width: calc(600px * var(--app-scale));;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(34px * var(--app-scale));;
}

@media screen and (max-width: 1000px) {
    .gridLayout {
        display: block;
        position: relative;
    }
    .gridLayout .itemText {
        height: 0px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .gridLayout .title {
        color: white;
    }
    .gridLayout .itemPhoto {
        height: 400px;
    }
    .someText {
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .someBigText {
        padding: 20px;
        width: unset;
    }
    .noMargin {
        margin-bottom: 0px;
    }
}